<a href="https://colab.research.google.com/github/Gowtham933/Supply-chain-Data-Analysis-Project/blob/main/Hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hypotheis testing
Hypothesis Testing is a type of statistical analysis in which you put your assumptions about a population parameter to the test. It is used to estimate the relationship between 2 statistical variables.

Hypothesis Testing Formula

Z = ( x̅ – μ0 ) / (σ /√n)

    Here, x̅ is the sample mean,
    μ0 is the population mean,
    σ is the standard deviation,
    n is the sample size.

In [1]:
#importing necessary library
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Load data CSV file into the pandas data frame
data= pd.read_csv("/content/supply_chain_data.csv")
data.head() # to understnd the data look for first few rows of the datasets

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

Warning: Total number of columns (24) exceeds max_columns (20) limiting to first (20) columns.

In [5]:
(data.columns)

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes', 'Costs'],
      dtype='object')

## T- Test
A t-test is a test usded for hypothesis testing in statistics. It determine if there is a statistically significant differnece between the means of two varaibles.

We have three shipping carriers just for example performing T-test between two of them.(Used: **"Independent samples t-test"**)

- Step 1:(Formulate Hypotheses)
 - Null hypothesis (H0H0​): The mean shipping times for the two carriers are equal.
 - Alternative hypothesis (H1H1​): The mean shipping times for the two carriers are different.
- Step 2:( Selecting two carrier out of three by grouping)
- Step 3: (Performing the T-test)
 - Idependedent samples to compare means of the two selcted carriers.

In [6]:
# Group the Shipping carriers A and B by shipping timings

carrier_a = data.groupby('Shipping carriers')['Shipping times'].agg(list)[0]
carrier_b = data.groupby('Shipping carriers')['Shipping times'].agg(list)[1]

In [11]:
# Perform the t-test
t_statistic, p_value = stats.ttest_ind(carrier_a, carrier_b)

In [15]:
print(f'T-statistic: {t_statistic}, P-value: {p_value}')

T-statistic: 1.245958311135371, P-value: 0.2169936688645812